@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container{
    display:flex;
    flex-direction:column;
    min-height: 100vh;
}
/* > targets child selector '*' targets all so 'all child selectors' */
.container > * {
    padding: 20px;
}

/*flex-grow:1 means everything in selector grows at same rate.
This is in <main> so it'll target everything within. */
.page-main {
    flex-grow:1;
}

body {
    display:flex;
    flex-direction:column;
    margin:0;
}

header{
    background-color:rgb(31,45,55);

}

.header nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}

.header ul {
    display:flex;
    order:1;
    width:100%;
    margin-top:15px;
    margin:0;
    padding:0;
    gap:64px;
    list-style-type:none;
}

a{
    text-decoration:none;
    color:#F9FAF8;
}

.lolly{
    border-radius:45px;
}

/*this media changes the list to shift under logo if resolution is too small on mobile*/
@media screen and (min-width: 550px) {
    .header ul {
        width:auto;
        margin-top:0;
    }
}

main {
    display:flex;
    flex-direction: column;
    justify-content:center;
    min-height: 350px;
}


/*this media changes main to fit within mobile resolutions*/
@media screen and (min-width:768px) {
    main {
        padding-left:90px;
    }
}

.hero1 {
    font-size: 48px;
    font-style:bolder;
    color:#f9faf8;
}

.hero2 {
    font-size: 18px;
    color:#E5E7EB;
    margin-bottom:16px;
}

.boxhero{
    background-color:rgb(31,45,55);

}



.boxinfo{

}

.boxquote{
    background-color:#E5E7EB;

}

.boxcall{

}
/*direction is column-reverse in case I add social media links*/
footer{
    display:flex;
    flex-direction:column-reverse;
    background-color:rgb(31,45,55);

}
/*changes footer placement on mobile if resolution is too small*/
@media screen and (min-width: 500px) {
    footer {
        color:#F9FAF8;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
        display:flex;
        justify-content:center;
        align-items: center;
    }
}

