@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body, #wrapper {
    width: 100%;
    min-height: 100%;
}

.container{
    display:flex;
    flex-direction:column;
    min-height: 100vh;
}

/*flex-grow:1 means everything in selector grows at same rate.
This is in <main> so it'll target everything within. */
.page-main {
    flex:auto;
}

body{
    font-family:Roboto, sans-serif;
    display:flex;
    flex-direction:column;
    margin:0;
}

nav {
    background-color:#1D1806;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding-bottom:16px;

}

.nav-logo{
    display:flex;
    align-items:center;
    justify-content:center;
}

.nav-links{
    font-size:18px;
    margin:0px;
    padding:0px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.header ul {
    display:flex;
    order:1;
    width:100%;
    margin-top:15px;
    margin:0;
    padding:0;
    gap:64px;
    list-style-type:none;
}

a{
    text-decoration:none;
    color:#F9FAF8;
}

.mao{
    border-radius:50%;
    border: 3px solid #E9CECE;
    margin-top:8px;
}

main {
    display:flex;
    flex-direction: column;
    justify-content:center;
    min-height: 350px;
}

/*Added in code from original page as this section was correct there. ref: repo landing_project*/

.box{

}

.hero{
    background-color:#1D1806;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-box {
    display:flex;
    justify-content:flex;
    align-items: center;
    margin: 128px 72px 72px;
    gap: 24px;
    padding: 32px;
    border: 3px solid #E9CECE;
    border-radius: 100px;
    box-shadow: 2px 2px 20px 2px;
    background: #404518;
}

.hero-text {
    display:flex;
    align-self: flex-start;
    flex-direction:column;
    flex-wrap: wrap;
    margin-left:16px;
}

.hero-text h2 {
    font-size: 48px;
    font-style:bolder;
    color:#9F8270;
    margin-bottom: 0px;
}

.hero-text p {
    font-size: 18px;
    color:#E9CECE;
    margin-bottom:16px;
}

.hero-button {
    background-color:#1D1806;
    color:white;
    border-radius:16px;
    font-size:18px;
    padding:8px;
    padding-left:10px;
    padding-right:10px;
}

.mao1 {
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    margin-right:16px;
    border-radius:54px;
    border: 3px solid #E9CECE;
    box-shadow: 2px 2px 20px 2px;
}

.info{
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-wrap:wrap;
    border-top: 3px solid #E9CECE;
    border-bottom: 3px solid #E9CECE;
}

.info-title {
    margin-bottom:32px;
    margin-top:32px;
    font-size:36px;
    font-style:bolder;
    color:#1F2937;
    display:flex;
    justify-content:center;
}

.pics {
    display:flex;
    justify-content:center;
    gap:63px;
    text-align:center;
    margin-bottom:32px;
    
}

.pic{
    max-width:250px;
}

.pic img{
    border-style:solid;
    border-width:4px;
    border-color:#E9CECE;
    border-radius:25px;
}

.text{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;

}

.quote{
    background-color:#B2BA97;
    display:flex;
    flex-direction:column;
    padding: 0px 200px;

}

.quote {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    font-size: 36px;
    font-style:italic;

}

.quote1 {
    display:flex;
    align-self:flex-end;
    margin-left:25%;
    margin-right:25%;
    font-style:bolder;
    font-size:24px;
}

.call{
    border-top: 3px solid #E9CECE;
    border-bottom: 3px solid #E9CECE;

}
.call-box{
    display:flex;
    align-items: center;
    width:50%;
    margin-left:25%;
    margin-right:25%;
    margin-top: 128px;
    margin-bottom:72px;
    gap: 24px;
    padding: 32px;
    border: 3px solid #1D1806;
    border-radius: 50px;
    background-color:#E9CECE;
}

.call-text h3{
    font-size:48px;
    font-style:bold;
    color:#f9faf8;

}

.call-text p{
    font-size:18px;
    color:#E5E7EB;

}

.call-item{
    display:flex;
    justify-content: space-between;
}

.call-text{
    display:flex;
    flex-direction:column;
    margin-right:20%;
}

.call-button{
    display:flex;
    justify-content:right;
    align-items:flex-end;
    background-color:#1D1806;
    color:white;
    font-size:18px;
    border:8px;
    border-color:white;
    border-radius:16px;
    padding:8px;
    padding-left:10px;
    padding-right:10px;
    
}

/*direction is column-reverse in case I add social media links*/
footer{
    display:flex;
    flex-direction:column-reverse;
    background-color:#1D1806;
    color:#F9FAF8;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:8px;

}


